body {
	font-family: Roboto, sans-serif, Arial;
	font-size: 15px;
	color: #2d3c49;
}
header, main, section, footer {
	width: 100%;
}
p {
	line-height: 1.5em;
	width: 100%;
	text-align: justify;
	font-size: 14px;
}
ul {
	list-style: none;
  padding: 0;
  margin: 0;
}
a {
	font-size: 1.1em;
	color: #7e919b;
	text-decoration: none;
}
a:hover {
	color: #19B5FE;
	text-decoration: underline;
}
h1, h2, h3, a {
	font-family: 'Thasadith', sans-serif;
}
h1 {
	font-size: 2.3em;
	font-weight: 100;
	text-transform: uppercase;
}
.work_title {
	font-size: 1.3em;	
	color: #7d97ad;
}
.siteHeader {
	width: 100%;
	display: inline-flex;
}
.logo {
	width: 30%;
}
.siteName {
	width: 70%;
	text-align: right;
	margin-bottom: -10px;
}
.siteName h3 {
	text-transform: uppercase;
	font-weight: 200;
	margin-top: -20px;
	font-size: 1em;
}
.nav {
	width: 70%;
	text-transform: uppercase;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.navlink {
	width: 32%;
	display: inline-block;
	color: grey;
	text-decoration: none;
}
hr {
	border: 1px solid #7d97ad;
}
.hero {
	width: 100%;
	padding-top: 10px;
}
.hero img {
	width: 100%;
}
.work_title {
	color: #2d3c49;
	font-size: 1.8em;
}
.snippetList {
	width: 100%;
}
.snippet {
	display: inline-block;
	width: 32%;
	vertical-align: top;
	margin-right: 6px;
}
.snippet_title {
	text-align: center;
}
.snippet_title a {
	font-weight: 300;
	font-size: 1em; 
	color: #20A3EB;
	text-transform: uppercase;
	text-align: center;
}
.snippet_image {
	width: 100%;
	height: 160px;
}